<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="shortcut icon" type="image/png" href="../images/favicon2.png">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/about.css" />
    <title>ABOUT US</title>
  </head>
  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="../index.html" class="pull-left">
              <div id="logo-img" alt="Logo image"></div>
            </a>
          </div>

          <div class="navbar-brand">
            <a href="../index.html"><h3>ARMY</h3></a>
            <p><span>Making soldier</span></p>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
        <div class="text-center pt-5 pb-2">
            <h3> ABOUT US</h3>
        </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../images/Indian-Army-4.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 text-justify mt-4">
          The Indian Army is the land-based branch and the largest component of the Indian Armed Forces. The President of India is the Supreme Commander of the Indian Army,[4] and its professional head is the Chief of Army Staff (COAS), who is a four-star general. Two officers have been conferred with the rank of field marshal, a five-star rank, which is a ceremonial position of great honour. The Indian Army originated from the armies of the East India Company, which eventually became the British Indian Army, and the armies of the princely states 
        </div>
      </div>
    </div>
    <section>
        <div class="container">
            <div class="text-center pt-5 pb-2">
                <h3> Our Motto</h3>
            </div>
            <div class="mx-2 mb-5 text-center points">
                "Sewa Paramo Dharma"
            </div>
            <div class="mx-2 mb-5 text-center points">
                The primary mission of the Indian Army is to ensure national security and national unity, to defend the nation from external aggression and internal threats, and to maintain peace and security within its borders. It
            </div>
            <div class="mx-2 mb-5  text-center points">
                The Indian Army is operationally and geographically divided into seven commands, with the basic field formation being a division. Below the division level are permanent regiments that are responsible for their own recruiting and training. 
            </div>
            <div class="mx-2 mb-5 text-center points">
                The Kitchener Reforms brought the British Army to a new century.[20] In the 20th century, the British Indian Army was a crucial adjunct to British forces in both world wars. 1.3 million Indian soldiers served in World War I (1914–1918) with the Allies, in which 74,187 Indian troops were killed or missing in action
                 </div>
        </div>

        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
