<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/explore.css" />
    <title>Explore</title>
  </head>
  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="../index.html" class="pull-left">
              <div id="logo-img" alt="Logo image"></div>
            </a>
          </div>

          <div class="navbar-brand">
            <a href="index.html"><h1>ARMY</h1></a>
            <p><span>Making soldier</span></p>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/history.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">History</h5>
                <p class="card-text">
                  The Indian Army (Hindi: Bhāratīya Thal Sēnā) is the land-based branch and the largest component of the Indian Armed Forces
                </p>
                <a href="https://en.wikipedia.org/wiki/British_Indian_Army" class="btn btn-primary know-btn">Know more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/wars.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Wars</h5>
                <p class="card-text">
                  Since India gained its independence in 1947, it has waged four wars intermittently by the 1970s against Pakistan (Indo-Pakistani Wars) and China (the India-China War).
                </p>
                <a href="https://en.wikipedia.org/wiki/Indian_Armed_Forces" class="btn btn-primary know-btn">Know more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/development.png"
                class="card-img-top"
                alt="Development"
              />
              <div class="card-body">
                <h5 class="card-title">Development</h5>
                <p class="card-text">
                 The Indian Armed Forces are the military forces of the Republic of India. It consists of three professional uniformed services: the Indian Army, Indian Navy, and Indian Air Force
                </p>
                <a href="https://en.wikipedia.org/wiki/Indian_Armed_Forces" class="btn btn-primary know-btn">Know more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row d-flex justify-content-center my-5">
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/weapn.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Weapons</h5>
                <p class="card-text">
                  standard weapon of Indian Army. 750,000 rifles to be manufactured locally by OFB. Final agreement done, production to start in December 2020.
                </p>
                <a href="https://www.drdo.gov.in/home" class="btn btn-primary know-btn">Know more...</a>
              </div>
            </div>
          </div>
         
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
