<!DOCTYPE html>
<html>

<head>
    <title>Login PAGE</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <link rel="shortcut icon" type="image/png" href="../images/favicon2.png">
</head>

<body>
    <h2>Login Page</h2><br>
    <div class="login">
        <form id="login" method="Post" action="login.php">
            <label><b>soldierID or email
                </b>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="soldierID or email ">
            <br><br>
            <label><b>Password
                </b>
            </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <input type="submit" class="btn" value="Login">
            <br><br>
            <input type="checkbox" id="check">
            <span>Remember me</span>
            <br><br>
        </form>
        <p> if not registered signup here </p>
        <a href="registration.html"><input type="submit" class="btn" value="Register"></a>
        <br><br>
        <a href="mailto:someone@example.com"> Forgot Password</a>
    </div>
</body>

</html>